body::-webkit-scrollbar {
    width: 8px;
}

body::-webkit-scrollbar-track {
    background: #edb126c7;
}

body::-webkit-scrollbar-thumb {
    background-color: #2a2929cb;
    border-radius: 1px;
}

body::-webkit-scrollbar {
    width: 8px;
}

body::-webkit-scrollbar-track {
    background: #edb126c7;
}

body::-webkit-scrollbar-thumb {
    background-color: #2a2929cb;
    border-radius: 1px;
}