.form-control{
    border: $maincolor 1px solid;
    background-color: #2A2929;
    color: white;
    
}

input{
    color: white !important;
    background-color: #2A2929 !important;
}

textarea{
    background-color: #2A2929 !important;
    color: white !important;
}