.galeria > a{
    display: block;
    position: relative;
    overflow: hidden;
    box-shadow: 0 0 6px rgba(0 , 0, 0, .5);
}

.galeria a:hover img{
    filter: grayscale(1);
    transition: filter 0.3s;
}

.efectogaleria{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0,0,0,.5) ;
    transition: transform .5s ease-in-out;
    transform: scale(0);
    z-index: 1000;
}

.efectogaleria img{
    width: 80vw;
    max-height: 70vh;
}

.efectogaleria:target{
    transform: scale(1);
}

.close{
    display: block;
    position: absolute;
    top: 150px;
    right: 100px;
    background: $maincolor;
    font-size: 1rem;
    text-decoration: none;
    color: white;
    border-radius: 6px;
    padding: 10px;
}

.next{
    display: block;
    text-align: center;
    background: $maincolor;
    color: #fff;
    padding: 10px;
    margin: 10px;
}

.foto{
    width: 100%;
    border-radius: 5px;
    object-fit: cover;
    vertical-align: top;
    transition: transform 0.5s;
}
