body {
    background-color: grey;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: 'Montserrat', sans-serif;
    color: white;
    position: relative;
}

body::after {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url("../assets/img/local.jpg") fixed;
    background-size: cover;
    opacity: 0.6;
    content: "";
    z-index: -1;
}

.main {
    margin: 150px 20px 20px 20px;
    min-height: 100vh;
}