@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;1,100&display=swap');

h1 {
    @include centrarTitulos();
    font-size: 2.2rem;
    font-weight: bold;
    margin: 0 0 50px;
}

h2 {
    @include centrarTitulos();
    @extend h1;
    font-size: 1.8rem;
}

h3 {
    font-size: 1.4rem;
    font-weight: bold;
}

p {
    font-size: 1rem;
}